<form [formGroup]="filterForm" (ngSubmit)="applyFilter(filterForm.value)">
  <mat-form-field>
    <input matInput type="text" placeholder="User name" formControlName="userName">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerBegin" placeholder="Begin date" formControlName="beginDate"
      (click)="pickerBegin.open()">
    <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
    <mat-datepicker #pickerBegin></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerEnd" placeholder="End date" formControlName="endDate"
      (click)="pickerEnd.open()">
    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Mark" formControlName="mark">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Model" formControlName="model">
  </mat-form-field>
  <button type="submit" mat-button color="primary">Apply</button>
</form>